* {
  box-sizing: border-box;
  scrollbar-width: opx;
}

.App-logo {
  height: 80px;
  pointer-events: none;
  position: absolute; top: 12pt; left: 24pt;
}


.App-container {
  background-color:#D7E1D2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.App-container2 {
 background-color: #AABF9B;
 background-image: url('./images/leaves.jpg');
 background-position:center;
 background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container3 {
  background-color: #AABF9B;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
 }

.App-link {
  color: #61dafb;
}

.teacards{
  height: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
